.spacer{
    flex: 1 1 auto;
}


@media (max-width: 768px) {
    .hidden-menu {
      display: none;
    }
  }

.hambr{
    display: none;
}

@media (max-width: 768px) {
    .hambr {
      display: block;
    }
  }

  .menu-header{
    top: 0;
  }

  .title{
    margin-left: 5%;
    font-size: 25px;
  }
  