.spacer{
    flex: 1 1 auto;
}


@media (max-width: 768px) {
    .hidden-menu {
      display: none;
    }
  }

.hambr{
    display: none;
}

@media (max-width: 768px) {
    .hambr {
      display: block;
    }
  }