<mat-toolbar color="primary" class="mat-elevation-z6 menu-header">
    <span><mat-icon class="buss">business_center</mat-icon><span class="title">Portfolio</span></span>
  
    <div class="spacer"></div>
    <div [ngClass]="{'hidden-menu': showMenu}" *ngFor="let m of listmenu">
        <a mat-button [routerLink]="['/', m.link]">{{ m.title }}</a>
    </div>

    <div class="example-button-container hambr">
        <button mat-mini-fab color="primary" [matMenuTriggerFor]="menu" aria-label="Example icon button with a menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <div *ngFor="let m of listmenu">
          <button mat-menu-item>
            <mat-icon>{{ m.icon }}</mat-icon>
            <span>{{ m.title }}</span>
          </button>
          </div>
        </mat-menu>
        
        
    </div>
</mat-toolbar>


<div class="text-center fw-bolder">
  <header class="masthead">
    <div class="container h-100 cont">
      <div class="row h-90 align-items-center">
        <h1 class="titulo fw-light">Portfolio Damian Ramirez</h1>
      </div>
    </div>
  </header>
</div>

<div class="h-90 align-items-center">
  <div class="container">
  <hr>
  <h1 class="fw-light sub-titulo">{{ section }}</h1>
  <hr>
  </div>
</div>


  
