<mat-toolbar color="primary" class="mat-elevation-z6 menu-header">
    <span><mat-icon class="buss">business_center</mat-icon><span class="title">Portfolio</span></span>
  
    <div class="spacer"></div>
    <div [ngClass]="{'hidden-menu': showMenu}">
        <a mat-button>Home</a>
        <a mat-button>Section1</a>
        <a mat-button>Section2</a>
        <a mat-button>Section3</a>
    </div>

    <div class="example-button-container hambr">
        <button mat-mini-fab color="primary" [matMenuTriggerFor]="menu" aria-label="Example icon button with a menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voice mail</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
        </mat-menu>
        
        
    </div>
</mat-toolbar>


  
