
.contenido{
    margin-bottom: 100px;
    padding: 10px;
}

.titulo{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}